input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.table-input td input,
.table-input td select,
.table-input td multi-select{
    box-sizing: border-box;
    width: calc(100% + 4px) !important;
    margin-left: -2px;
}

.table-input td select, .table-input td multi-select{
    height: 100%;
}

[name='pageNavigator'] img{
    cursor: pointer;
    user-select: none;
}
[name='pageNavigator'] span{
    line-height: 16px;
}