.body_jif_l {
  width: 900px;
  min-height: 10px;
  float: left;
  position: relative;
}
.body_jif_r {
  width: 255px;
  min-height: 10px;
  float: right;
  background-color: #ff9;
  border: 3px solid #3E6289;
  border-radius: 2px;
}

.block-lock {
  display: none;
  position: absolute;
  left: 0;
  z-index: 9999; 
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
}
.block-lock.lock,
.block-lock[block='true'] {
  display: block;
}

#jifNav {
	list-style-type: none;
	margin: 50px;
	padding: 0;
	text-align: center;
}
	
#jifNav li {
	margin-right:2px;
        display:inline-block;
	border:3px solid #3E6289;
        border-radius:30px;
	width:170px;
	height:50px;
	text-align: center;
}

#jifNav li.active, #jifNav li.avail, #jifNav li.future{
	box-shadow: 0 0 3px inset #3E6289;
}

#jifNav li.active {
	background-color:#ff9;
}

#jifNav li.avail {
	background-color:white;
}

#jifNav li.future {
	background-color:#888;
}

#jifNav li a, #jifNav li div {
	display:block;
	width:100%;
	padding:18px 0;
	text-align: center;
	border-radius: 30px;
	border-width: 3px;
}

#jifNav li a{
	cursor: pointer;
	transition: box-shadow 200ms linear;
}

#jifNav li a:hover{
	box-shadow: 0 0 4px 4px #3E6289;
}

#jifNav li div {
	user-select: none;
	color: #ddd;
}

#jifNav li.delim {
	background-image:url('../icons/chevronr32.png');
	width:32px;
	height:32px;
	border:0;
	vertical-align:middle;
}

ul.jif_checklist {
	list-style-type: circle;
	margin-left:15px;
}
ul.jif_checklist li {
	padding:4px;
}

/**
 * Checklist
 */
 .jif-checklist {
  width: 255px;
  min-height: 10px;
  float: right;
  border: 3px solid #069;
  border-top: none;
  background-color: #9cc;
}

.jif-checklist h1{
  font-size: 12px;
  padding: 3px 0 3px 0;
  font-weight: bold;
  text-align: center;
  background-color: #069;
  color:white;
}

.jif-checklist-item{
	background-color: #9cc;
	border-bottom: 1px solid #069;
	padding: 3px;   
	user-select: none;
}

.jif-checklist-item img{
	vertical-align: baseline;
}

.jif-checklist-item .jif-expander{
	filter: grayscale(100%) brightness(50%) contrast(25%) opacity(80%);
	cursor: pointer;
	transition: transform 350ms ease;
  margin-right: 4px;
}

.jif-checklist-item .jif-expander.hidden{
	filter: opacity(0%);
	cursor: auto;
}

.jif-checklist-item .jif-check-green{
  float: right;
}

.jif-checklist-item .jif-check-red{
  float: right;
}

.jif-checklist-item .jif-check-yellow{
	float: right;
	filter: hue-rotate(-65deg);
}

.jif-dropdown{
	overflow: hidden;
	border-bottom: solid #069;
	border-width: 0px;
	height: 0;
	padding: 0;
	width: auto;
	background-color: #9cc;
	transition: all 350ms ease;
	transition-property: height, padding, border-width;
	text-align: center;
}

.jif-dropdown.open{
	border-width: 1px;
	height: 80px;
	padding: 5px;
}

.jif-dropdown textarea{
  display: block;
  resize: none;
  margin: 0 auto 5px auto;
	width: 90%;
	height: 4em;
}

.jif-dropdown input{
	display: block;
	width: auto;
	margin: 5px auto 0 auto;
}

.jif-dropdown-textarea{
	display: inline;
	margin: auto;
}

.jif-checklist-section{
	border-bottom: 1px solid #069;
	width: auto;
	background-color: #9cc;
	padding: 3px;
	user-select: none;
}

.jif-checklist-section a{
	float: right;
}

.jif-checklist-section input[type="checkbox"]{
	margin: 0;
	margin-right: 4px;
	padding: 0;
	vertical-align: middle;
}

.jif-checklist form input[type="button"],
.jif-checklist form input[type="submit"]{
	margin: auto;
	display: inline-block;
	width: auto;
}

.contact-important th{
	width: 33%;
	text-align: center;
}

.contact-important td{
	text-align: center;
	padding: 5px;
}

.block-header{
	box-sizing: border-box;
	padding: 3px 2px;
	background-color: #069;
	color: #fff;
	width: 100%;
}

.block-body{
	box-sizing: border-box;
	background-color: #fff;
	padding: 4px;
	width: 100%;
	height: fit-content;
	display: flex;
}

.block-body.tight{
	padding: 0px;
	width: calc(100% - 14px);
	margin: 0 auto;
	border: 1px solid black;
	display: block;
}

.pre-ariv-call{
	display: inline-block;
	margin: 8px;
	flex-direction: column;
	border: 1px solid #000;
	vertical-align: top;
}

.pre-ariv-call table{
	width: 100%;
	height: 100%;
}

.pre-ariv-call td{
	padding: 2px;
}

.contact-box-header{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding-right: 3px;
	line-height: 19px;
}

.scope{
	background-color: white;
	width: 100%;
	overflow-wrap: normal;
	padding-bottom: 4px;
}

.scope-labels{
	display: inline-block;
	width: 18%;
	margin-left: 1%;
	margin-right: -0.5%;
}

.scope-labels div{
	width: 100%;
	height: 21px;
	line-height: 21px;
}

.scope-item{
	display: inline-block;
	width: 16%;
	vertical-align: top;
}

.scope-item div{
	width: 100%;
	margin: auto;
	height: 21px;
	line-height: 21px;
	text-align: center;
}

.scope-item input[type=number], .scope-item select{
	display: block;
	width: 60%;
	height: 17px;
	margin: auto;
	border-width: 1px;
	text-align: center;
	-moz-appearance: textfield;
}

.ini-est .scope-item input[type=number],
.scope-item select{
	height: 21px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.scope .scope-title{
	width: 80% !important;
	height: auto;
	border: 1px solid gray;
	color: white;
	background-color: #069 !important;
}

.scope-item .scope-margin {
	margin: 8px 0;
	width: 80%;
	height: 39px;
	border: 1px solid white;
	color: black;
}

.scope-item div.scope-margin .scope-margin-signal {
    padding: 8px 0;
    height: 100%;
}

.scope-item div.scope-margin-approval {
    height: 30px;
}

.scope-item div.scope-margin-approval select {
    position: relative;
    left: 14px;
    margin: 0;
}

.scope-currency{
	position: relative;
	text-align: right !important;
	width: auto !important;
	padding-right: 35% !important;
}

.scope-currency span + span {
	position: absolute;
	top: 0;
	left: 100px;
}

/* Initial esitmate adjustments
 * to accommodate an additional
 * column */
.ini-est .scope-labels{
	width: 15%;
}
.ini-est .scope-item{
	width: 14%;
}
.ini-est .scope-item div{
	line-height: 16px;
}
.ini-est .scope-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 45px;
    background-color:#069;
}
.ini-est .scope-currency span + span {
	left: 85px;
}

[name='alt-color'] div:nth-child(even):not(.hlpos):not(.hlneg):not(.hlyel):not(.white1),
.excel-table > tbody:nth-child(even){
	background-color: #dee;
}

[name='alt-color'] div:nth-child(odd):not(.hlpos):not(.hlneg):not(.hlyel):not(.white1),
.excel-table > tbody:nth-child(odd){
	background-color: #eff;
}

/* For indented sub-components, like cost breakdowns on the final estimate */
.alt-indented{
	background-color: white !important;
}

.alt-indented.label{
	padding-left: 6px;
	margin-left: 6px;
	border-left: 1px solid black;
}

.excel-table{
	width: 100%;
}

.excel-table > thead{
	background-color: #069;
	color: white;
	font-weight: normal;
}

.excel-table > thead th{
	font-weight: normal;
	padding: 3px 2px;
}

.excel-table > tbody tr td{
	padding: 3px;
}

.input-area{
	background-color: #bc8;
	padding: 12px 0;
}

.input-area div{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 6px;
}

.input-area div input{
	width: calc(100% - 6px);
}

.input-area input{
	display: block;
	margin: 0 auto;
}

.table-input td input,
.table-input td select,
.table-input td multi-select{
	box-sizing: border-box;
	width: calc(100% + 4px) !important;
	margin-left: -2px;
}

.table-input td select, .table-input td multi-select{
	height: 100%;
}

.ini-info .grid {
    margin: 0 -16px;
}

.ini-info-top,
.ini-info-bottom {
	margin: 6px 24px;
}

.ini-info-top input{
	width: 100%;
}

.ini-info-bottom:nth-of-type(2n) {
  margin: 0 -52px 0 -44px;
}

.ini-info-bottom textarea{
	width: 100%;
	resize: none;
	height: 4em;
}

[name='equipment-base'] th[name='total-row']{
	padding: 3px 0;
}

.atp-room{
	border: 1px solid black;
	margin: 8px;
}

.jco-scroll{
	display: inline-block;
	overflow-x: auto;
	overflow-y: hidden;	
	white-space: nowrap;
	width: 429.75px;
}

.jif-expander-white {
	filter: grayscale(100%) brightness(200%) contrast(100%);
	cursor: pointer;
	transition: transform 350ms ease;
	margin-right: 4px;
	position: absolute;
	left: 2px
}

.content-collapse {
	height: fit-content;
	overflow: hidden;
	transition: height 350ms ease;
}

.finalEstSplitpane{
	display: inline-block;
	width: 50%;
	padding: 8px;
	vertical-align: top;
}

.inpLabels div{
	height: 21px;
	text-align: left;
}

.inpHeight{
	height: 21px;
}

.final-charges > .columns {
  margin: 0 0 16px;
}

.final-charges .columns.inputs > div {
  flex-basis: 45%;
}
.final-charges .columns.inputs > div + div {
  flex-basis: 55%;
}

.confirm-finals {
  padding-top: 24px;
  padding-bottom: 24px;
}

/*************************************************** ADJUSTMENTS ***************************************************/

/* Adds a bottom line for last div/table/form on page */
.body_jif_l > *:last-child {
  border-bottom: 4px solid #069;
}

/* Remove the bottom border of a table that is the last child of the above last child so no double border */
.body_jif_l > *:last-child .data.data-alt1,
.body_jif_l > *:last-child .data.data-alt2,
.body_jif_l > *:last-child .data.data-alt3 {
  border-bottom: 0;
}

/* But not to the bottom of documents & photos */
.body_jif_l > .body_content:last-of-type {
  border-bottom: 0;
}

.body_jif_l .block-header,
.body_jif_l .block-header + .block-body,
.body_jif_l table.data th:first-of-type,
.body_jif_l table.data td:first-of-type {
  padding-left: 8px;
}

.body_jif_l table.data tr.table-input td:first-of-type {
  padding-left: 2px;
}

.body_jif_l .block-body > .pre-ariv-call {
  margin-left: 0;
}

/* Flexbox that holds children items to one line below*/
.column-flex{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: stretch;
}

.column-flex.padded, .column-flex.child-padded > div{
	padding: 4px;
	padding-left: 8px;
}

/* Same as column-flex but stretches children to fill 100% of the width */
.column-flex.stretched > div{
	flex: 1 1 0px;
}

/* Flexbox that displays label/input fields in a single row*/
.column-flex .label-inp:first-child{
	line-height: 21px;
	text-align: left;
}

.column-flex .label-inp:last-child{
	text-align: right;
}

/* Displays seperate sections of a progress bar*/
.stage-bar{
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 8px;
}

.stage-bar > div{
	width: 120px;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

.stage-bar > div :last-child{
	height: 10px;
	width: 120px;
	background-color:#888;
	border: 1px solid black;
	box-sizing: border-box;
}

.stage-bar > div.stage-completed :last-child{
	background-color: #08da57;
}

.stage-bar > div.stage-current :last-child{
	background-color: #ff9;
}

/* Animation fades in, holds, then fades out */
@keyframes dropin-dropout{
	0% {top: -45px;}
	10% {top: 5px;}
	90% {top: 5px;}
	100% {top: -45px;}
}

.floating-modal{
	z-index: 10000;
	padding: 8px;
	width: fit-content;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	animation-name: dropin-dropout;
	animation-duration: 4s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.95);
	color: black;
}

.floating-modal.info{
	border: 3px solid rgb(19, 54, 150);
	background-color: rgb(102, 173, 255);
}

.floating-modal.error{
	border: 3px solid rgb(150, 19, 19);
	background-color: rgb(255, 102, 102);
}

.thinline{
	background-color: #cce;
	height: 1px;
	margin: 2px 0;
	width: 95%;
}