table.data.data-alt1 {
    border-bottom: 0;
}

table.info tr td {
  vertical-align: top;
}

.modal table.info tr td {
  vertical-align: middle;
}

img.icon16 {
  cursor: pointer;
}

.float_abc {
  position: relative;
  width: 320px;
}

.office-icons {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 68px;
}

#county-edit.office-icons {
  z-index: 11;
  left: auto;
  top: 2px;
  right: 0;
}

#state-undo.office-icons {
  z-index: 11;
  left: auto;
  top: 2px;
  right: 21px;
}

#office-pick,
#county-pick,
#state-pick{
  position: absolute;
  top: 20px;
  z-index: 9;
  margin-left: -10px;
  text-indent: 12px;
  background-color: #ddd;
  width: 100%;
  overflow-y: scroll;
  transition: all 0.25s;
  height: 0;
  opacity: 0;
}

#office-pick.expand,
#county-pick.expand,
#state-pick.expand{
  height: 250px;
  opacity: 1;
}

#office-pick li,
#county-pick li,
#state-pick li{
  padding: 2px;
  cursor: pointer;
}

#office-pick li.selected,
#county-pick li.selected,
#state-pick li.selected{
  background-color: #aaa;
}

#state-find {
  position: relative;
  padding-right: 0;
}

#state-find input,
#state-find span {
  width: 145px;
}

#state-find input {
  position: relative;
  z-index: 8;
  border: 1px solid #666;
  background-color: transparent;
}

#state-find span {
  padding: 2px;
  display: inline-block;
  position: absolute;
  z-index: 7;
  color: #ccc;
}
