/* id selectors use a #.  class selectors use a dot.  element selectors use the element. */
/* Avoid specifying both width and padding for the same element */
/* Changing colors look for #069 and 33,66,99 */

@media print	{ .no-print, .no-print * { display: none !important; } }

body	{	margin: 0; border: 0; padding: 0;
	font-family: verdana, sans-serif;
	font-size: 12px;
	color:#000;
	background-color:#001;
	background-attachment: fixed;
	background-repeat: repeat-y;
	/*		background-image: url("/view/asset/img/bg_fall.jpg");*/
	/*		background-image: url("/view/asset/img/bg_grad_thanks.jpg"); */
	/*		background-image: url("/view/asset/img/bg_clouds.jpg"); */
	/*		background-image: url("/view/asset/img/bg_4th.jpg");  */
	/*  		background-image: url("/view/asset/img/bg_xmas.jpg"); */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.aura	{	margin: 0;border: 0;padding: 0;
	text-align: center;
	width: 100%; height: 100%;
}
.wrap		{	text-align: center; } /* aura is the full page, wrap snugs tight to the content */

.big		{	font-size: 16px; }

.hide		   {display:none; }
.show.now-hide {display:none; }
.show		   {display:block; }
.hide.now-show {display:block; }

[data-js],
*[onclick] {
	cursor: pointer;
}

[data-js] img {
	pointer-events: none;
}

.trigger {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}
.trigger > * {
  pointer-events: none;
}

/*************************************************** HEADER ***************************************************/

.head_wrap	{	text-align: center;
	width: 100%;
}

.head_fixed	{	width: 1160px;
	text-align: center;
	margin: 0 auto;
	height: 75px;
	/*			background-image:url("/view/asset/img/header_xwing.png"); */
	/*			background-image:url("/view/asset/img/header_fall.png"); */
	/*			background-image:url("/view/asset/img/header_halloween.jpg"); */
	/*			background-image:url("/view/asset/img/header_thanks.jpg"); */
	/*			background-image:url("/view/asset/img/header_ice.jpg"); */
	/*			background-image:url("/view/asset/img/header_spring.jpg"); */
	/*			background-image:url("/view/asset/img/header_xmas.jpg"); */
	/*			background-image:url("/view/asset/img/header_snow.jpg"); */
	/*			background-image:url("/view/asset/img/header_easter.jpg"); */
	/*			background-image:url("/view/asset/img/header_earth.jpg"); */
				background-image:url("/view/asset/img/header_summer.jpg");
	/*			background-image:url("/view/asset/img/header_flag.jpg"); */
	/*			background-image:url("/view/asset/img/header_space.jpg"); */
	background-repeat: no-repeat;
	position:relative; // relative so we can float things inside and so the leaves don't cover it
}
.head_fixed a, .head_fixed a:link, .head_fixed a:visited, .head_fixed a:hover    {	color:#fff; /* Top menu color */
}

.head_left	{	float: left;
	width: 200px;
}
.head_left_content {	padding:5px 5px 5px 10px;
}
.head_left a	{	display: block; /* Display: block makes the A link show the full size image */
	text-indent: -9999px;
	background: transparent url(../images/logo.png) no-repeat left top;
	/* background: transparent url(../images/logo_easter.png) no-repeat left top; */
	/* background: transparent url(../images/logo_stpatrick.png) no-repeat left top; */
	/* background: transparent url(../images/logo_harry.png) no-repeat left top; */
	background-size:280px;
	width: 360px;
	height: 60px;
}
.head_right	{	text-align: right;
	float: right;
	width: 880px;
	color: #fff;
}
.head_right_content {	padding:5px 10px 5px 5px;
}

/* .head_menu	{	background-color:rgba(33,66,99,0.8); } */
.head_menu	{	background-color:rgba(0,102,153,1.0); }

/*************************************************** BODY ***************************************************/

.body_wrap	{	text-align: center;
	/* margin: 0; */
	/* border: 0; */
	/* padding: 0; */
	/* width: 100%; */
} /* deprecated */
.body_fixed 	{	width: 1160px;
	min-height:40px;
	margin: 0 auto;          /* center the body_fixed in the body_wrap */
	border: 0;
	text-align: left;
	background-color: #bc8;  /* underlying background color of the left and right colum -- includes the gray behind the dashboard */
	position:relative;       /* relative so we can float things inside and so the leaves don't cover it */
}
.body_stripe	{	width: 100%;
	height: 7px;
	background-color: #fff;
	background-image: url("/view/asset/img/stripe2x7.png");
	background-repeat:repeat-x;
}
.body_color2	{	background-color: #fff;  /* job, team, ins pages top sections */
}
.body_left	{	width: 140px;
	float: left;
	min-height:200px;
	background-image: url("/view/asset/img/bg_140.png");
	background-repeat: repeat-y;
}
.body_right	{	width: 1020px;
	min-height: 50px;
	float: right;
	background-color: #fff;
}
.body_right_bottom {	width: 1020px;
	min-height: 100px;
	float: right;
	background-color: #bc8;
}

.body_db_l	{	width: 285px; /* Sml=170/985 Med=285/870 Lrg=345/810 Flash/dbRegion/dbOverall=435/720 */
	min-height:100px;
	float: left;
	background-color: #dee;
}
.body_db_r	{	width: 870px;
	min-height: 100px;
	float: right;
	background-color: #bc8;
}
.body_db_l.body_db_l_alt1 {  	width: 190px;
	min-height: auto;
}
.body_db_r.body_db_r_alt1 {  	width: 967px;
	min-height: auto;
}
.body_db_l.body_db_l_alt2,
.body_db_r.body_db_r_alt2 {  	width: 100%;
	min-height: auto;
	float: none;
}
/* Turns a sidemenu ul.selector into a horizontal menu */
.body_db_l.body_db_l_alt2 .selector .pri,
.body_db_l.body_db_l_alt2 .selector .sec {	display: inline-block;
	margin-right: 16px;
	padding: 0 4px;
}
.body_vstripe	{	width: 5px;
	min-height: 100px;
	float: left;
	background-color: #fff;
	background-image: url("/view/asset/img/vstripe5x2.png");
	background-repeat:repeat-y;
}
.float_1a, .float_1b, .float_1c, .float_2a, .float_2b, .float_2c, .float_abc {	min-height: 80px;
	float: left;
	padding-left: 10px;
}
.float_abc		{	width:340px;background-color: #fff; } /* item & inventory page */
.float_1a		{	width:340px;background-color: #eef; } /* job page blue tint */
.float_1b		{	width:340px;background-color: #eef; }
.float_1c		{	width:340px;background-color: #eef; }
.float_2a		{	width:340px;background-color: #eed; } /* csr page yellow tint */
.float_2b		{	width:340px;background-color: #ddc; }
.float_2c		{	width:340px;background-color: #ccb; } /* adds up to 1020px */

.body_content		{	padding: 10px 12px 12px 12px;
}
.body_content_scroll	{
	overflow-y: auto;
	overflow-x: hidden;
	height: 500px;
}
.body_content_scroll table.data.data-alt1,
.body_content_scroll table.data.data-alt2,
.body_content_scroll table.data.data-alt3 {	border-bottom: 0;
}
.body_content_float	{	float: left;
	padding: 10px 0px 12px 12px; /* left margin 12 because 12x5 is 60 on team page */
}
.body_content_slim	{	padding: 5px 12px 5px 12px; } /* used in fnMessages */
.body_content_slim span.l   {	float:left; padding-top:2px; } /* give text addl 2px top pad to line up with icons in right */
.body_content_slim span.r   {	float:right; }

.body_left_content	{	padding: 10px;
}

.flexbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.tip	{	width:314px;
	background-color:#ffd;
	border:2px inset #069;
	padding:10px;
}

.outline {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;  
}

/*************************************************** FOOTER ***************************************************/

.foot_fixed	{	width:1160px;
	margin: 0 auto;
	background-color:#069;
	color:#fff;
	text-align:center;
	position:relative;
	top:0px;
}
.foot_content	{	padding:5px 0;
}

/*************************************************** COLORS ***************************************************/

.bgcolor1	{	background-color:#fff; }
.bgcolor2	{	background-color:#bc8; } /* bc8 */
.bgcolor3	{	background-color:#9a6; } /* 9a6 Not Used */



/*************************************************** ELEMENTS ***************************************************/

a         		{	color:#00c; text-decoration:none; }
a:link    		{	color:#00c; }
a:visited 		{	color:#00c; }
a:hover   		{	color:#36f; }

p, h1, h2, h3, h4, h5	{	margin:0; padding-top: .2em; padding-bottom: .2em; }
p.indent 		{	padding-left: 2em; }
h1			{	font-size:20px; }
h2			{	font-size:16px; }
h3			{	font-size:14px; }
h4			{	font-size:12px; }
h5			{	font-size:10px; }

.padded			{	padding:5px;
}
ul			{	margin: 0;
	padding: 0; /* set padding 0 since there is no bullet */
	list-style-type:none;
}
ul.selector		{	list-style-type:none;
}
ul.selector li.pri 	{	padding-top:5px; padding-bottom:5px;
}
ul.selector li.sec 	{	padding-left:5px;
}

/* Next three declarations are for leftmenu collapsed hidden filter selectors */
ul.selector li.sec.trigger {	cursor: pointer; user-select: none;
}
ul.selector.collapsed li.sec:not(.trigger) {	display:none;
}
ul.selector:not(.collapsed) li.sec.trigger img.arrow {	transform: rotate(90deg);
}

/* Textarea width = 8px per col plus 17px (only valid on 12-pt.  Changed to 10-pt 6/1/15) */

input, textarea, select					{	font-family:inherit; font-size:inherit; }
input[type='text'], input[type='password'], textarea    {	padding-left:2px; }

input[type='text'].wht, input[type='number'].wht, input[type='password'].wht, textarea.wht, select.wht, input[type='time'].wht { background-color: #fff; }
input[type='text'].opt, input[type='number'].opt, input[type='password'].opt, textarea.opt, select.opt, input[type='time'].opt { background-color: #ddd; }
input[type='text'].req, input[type='number'].req, input[type='password'].req, textarea.req, select.req, input[type='time'].req { background-color: #ffc; }
input[type='text'].err, input[type='number'].err, input[type='password'].err, textarea.err, select.err, input[type='time'].err { background-color: #f66; }
input[type='text'].reo, input[type='number'].reo, input[type='password'].reo, textarea.reo, select.reo, input[type='time'].reo { background-color: #bc8; }

input[type='text'],       input[type='number'],       input[type='password']		{	width:154px; }
input[type='text'].inp02, input[type='number'].inp02, input[type='password'].inp02	{	width:14px;  }
input[type='text'].inp03, input[type='number'].inp03, input[type='password'].inp03	{	width:24px;  }
input[type='text'].inp04, input[type='number'].inp04, input[type='password'].inp04	{	width:34px;  }  /* =(40)*1-6 47 */
input[type='text'].inp06, input[type='number'].inp06, input[type='password'].inp06	{	width:54px;  }
input[type='text'].inp08, input[type='number'].inp08, input[type='password'].inp08	{	width:74px;  }
input[type='text'].inp09, input[type='number'].inp09, input[type='password'].inp09	{	width:84px;  }
input[type='text'].inp10, input[type='number'].inp10, input[type='password'].inp10	{	width:94px;  }
input[type='text'].inp12, input[type='number'].inp12, input[type='password'].inp12, input[type='time'].inp12	{	width:114px; }  /* =(40)*3-6 */
input[type='text'].inp13, input[type='number'].inp13, input[type='password'].inp13	{	width:124px; }
input[type='text'].inp14, input[type='number'].inp14, input[type='password'].inp14	{	width:134px; }  /* =(40)*3.5-6 */
input[type='text'].inp16, input[type='number'].inp16, input[type='password'].inp16	{	width:154px; }  /* =(40)*4-6 */
input[type='text'].inp18, input[type='number'].inp18, input[type='password'].inp18	{	width:174px; }
input[type='text'].inp20, input[type='number'].inp20, input[type='password'].inp20	{	width:194px; }  /* =(40)*5-6 */
input[type='text'].inp24, input[type='number'].inp24, input[type='password'].inp24	{	width:234px; }  /* =(40)*6-6 */
input[type='text'].inp28, input[type='number'].inp28, input[type='password'].inp28	{	width:274px; }  /* =(40)*7-6 */
input[type='text'].inp32, input[type='number'].inp32, input[type='password'].inp32	{	width:314px; }  /* =(40)*8-6 */

input[type='text'].inp1x, input[type='number'].inp1x, input[type='password'].inp1x	{	width:255px; }  /* textarea 30 */
input[type='text'].inp2x, input[type='number'].inp2x, input[type='password'].inp2x	{	width:319px; }  /* textarea 40 335 */
input[type='text'].inp3x, input[type='number'].inp3x, input[type='password'].inp3x	{	width:495px; }  /* textarea 60 */
input[type='text'].inp4x, input[type='number'].inp4x, input[type='password'].inp4x	{	width:655px; }  /* textarea 80 */

input.r { text-align:right; padding-right:5px; }
input.l { text-align:left; }
input.c { text-align:center; }

select,       input[type='submit'],       input[type='button'],       input[type='reset'], button { width:160px; }
select.inp32, input[type='submit'].inp24, input[type='button'].inp24, input[type='reset'].inp24, button.inp24 { width:320px; }  /* =40x8 */
select.inp24, input[type='submit'].inp24, input[type='button'].inp24, input[type='reset'].inp24, button.inp24 { width:240px; }  /* =40x6 */
select.inp20, input[type='submit'].inp20, input[type='button'].inp20, input[type='reset'].inp20, button.inp20 { width:200px; }  /* =40x5 */
select.inp18, input[type='submit'].inp18, input[type='button'].inp18, input[type='reset'].inp18, button.inp18 { width:180px; }  /* =40x4 */
select.inp16, input[type='submit'].inp16, input[type='button'].inp16, input[type='reset'].inp16, button.inp16 { width:160px; }  /* =40x4 */
select.inp14, input[type='submit'].inp14, input[type='button'].inp14, input[type='reset'].inp14, button.inp14 { width:140px; }  /* =40x3.5 */
select.inp12, input[type='submit'].inp12, input[type='button'].inp12, input[type='reset'].inp12, button.inp12 { width:120px; }  /* =40x3 */
select.inp10, input[type='submit'].inp10, input[type='button'].inp10, input[type='reset'].inp10, button.inp10 { width:100px; }  /* =40x2.5 */
select.inp09, input[type='submit'].inp09, input[type='button'].inp09, input[type='reset'].inp09, button.inp09 { width:90px;  }  /* =40x2.25 */
select.inp08, input[type='submit'].inp08, input[type='button'].inp08, input[type='reset'].inp08, button.inp08 { width:80px;  }  /* =40x2 */
select.inp06, input[type='submit'].inp06, input[type='button'].inp06, input[type='reset'].inp06, button.inp06 { width:60px;  }
select.inp05, input[type='submit'].inp05, input[type='button'].inp05, input[type='reset'].inp05, button.inp05 { width:50px;  }
select.inp04, input[type='submit'].inp04, input[type='button'].inp04, input[type='reset'].inp04, button.inp04 { width:40px;  }  /* Go! */
select.inp03, input[type='submit'].inp03, input[type='button'].inp03, input[type='reset'].inp03, button.inp03 { width:30px;  }

select.inp2x, input[type='submit'].inp2x,  input[type='button'].inp2x	{	width:334px;  } /* textarea  40 was 343 - changed for jobTabPhoto */

input[type='file'] {	width:320px; height:22px;
}

input[type='checkbox'], input[type='radio'] {	padding:0 5px 2px 5px;
}

input[type='time']{
	height: 21px;
	box-sizing: border-box;
}

select.opt option:checked {
  box-shadow: 0 0 10px 100px #0078d7 inset; /* MSims Temporary removed because the blue was remaining even when deselected.  Lightened opt fields instead to create contrast.*/
}

/*************************************************** IMAGES ***************************************************/

img		{	border:0; }
img.img72x72	{	width:72px; height:72px; }
img.icon	{	width:16px; height:16px; padding:1px 2px; vertical-align:bottom; }
img.icon16, input[type=image].icon16 {	width:16px; height:16px; padding:1px 2px; vertical-align:bottom; } /* changed to bottom 8/29/17 for name next to account icon*/
img.icon24	{	width:24px; height:24px; padding:1px 2px; vertical-align:bottom; }
img.icon32	{	width:32px; height:32px; padding:1px 3px; vertical-align:bottom; }
img.icon48	{	width:48px; height:48px; padding:1px 3px; vertical-align:bottom; }
img.icon64	{	width:64px; height:64px; padding:1px 4px; margin:10px;} /* Store Settings, Orders Overview */
img.flag16	{	width:16px; height:11px; padding:1px 2px; }
img.flag80	{	width:80px; height:60px; }
img.thumbnail	{	max-width:80px; max-height:60px; }
img.thumb40x30	{	width:40px; height:30px; }
img.rgbSquare   {	width:15px; height:15px; border:1px solid #333; margin:1px;}
img.avatar      {	height: 150px; width: 150px; border: 4px inset #CCC;}
img.arrow       {	transition: all .125s; pointer-events: none;}
img.rot45       {	transform:rotate(45deg);}
img.rot90       {	transform:rotate(90deg);}
.spacer	{		width: 2%; height: 60px; }
.spacer	img {		height:6px;
	width:100%;
}
span.span16	{	width:16px; height:16px; position:relative; } /*Position relative to put a sprite inside with position absolute*/

.bigImg   {	width:640px;height:480px;border:2px inset #069; }
.xlImg    {	width:992px;height:744px;border:2px inset #069; }
.thumb1	  {	width:93px; height:70px; border:2px inset #069; } /* 5 under a bigImg */
.thumb2   {	width:120px;height:90px; border:2px inset #069; }
.thumb3	  {	width:160px;height:120px;border:2px inset #069; }
.thumb1hl {	width:93px; height:70px; border:2px inset #ff6; }
.thumb2hl {	width:120px;height:90px; border:2px inset #ff6; }
.thumb3hl {	width:160px;height:120px;border:2px inset #ff6; }
.bigDoc   {	width:640px;height:720px;border:2px inset #069; } /* job docs   */
.xlDoc    {	width:992px;height:720px;border:2px inset #069; } /* job docs   */
.medDoc   {	width:496px;height:558px;border:2px inset #069; } /* truck docs */
.lrgDoc   {	width:848px;height:558px;border:2px inset #069; } /* truck docs */

/*************************************************** COLORS ***************************************************/

.gray,   .gray td, tr td.gray	  {	background-color: #ccc; }
.red,    .red td, tr td.red	  {	background-color: #f66; } /* Dashboard colors */
.orange, .orange td, tr td.orange {	background-color: #fc6; } /* Dashboard colors */
.yellow, .yellow td, tr td.yellow {	background-color: #ff6; } /* Dashboard colors */
.green,  .green td, tr td.green   {	background-color: #6f9; } /* Dashboard colors */
.teal,   .teal td, tr td.teal     {	background-color: #9cc; } /* Dashboard colors */
.blue,   .blue td, tr td.blue	  {	background-color: #99f; } /* Dashboard colors */
.violet, .violet td, tr td.violet {	background-color: #f9f; } /* Dashboard colors */

.yel		{	background: #EE9;
	color: #000;
	text-align: left;
	vertical-align:top;
	padding-left:20px;
	padding-right:20px;
}
.left_auto	{	text-align:left;
	margin:auto;
}
.font_normal	{	font-family:verdana, sans-serif;
	font-size: 12px;
	font-weight:normal;
}
.font_title	{	text-decoration: underline; font-weight:bold; }
.block		{	font-family: 'Arial Black', Gadget, sans-serif; }

.warning, .warning a	{	color: #900; }
.bluebar		{	color: #fff; background-color: #069; }
.message		{	color: #fff; background-color: #3c6; }
.error			{	color: #000; background-color: #f66; }
.alert			{       color: #000; background-color: #ff6; }
.pale			{       color: #000; background-color: #ffc; }
.dark			{       color: #fff; background-color: #069; }
.credit			{	color: #093; text-align:right; }
.debit			{	color: #c00; text-align:right; }
.regional, .regional a	{	color: #900; } /* Color Regional Mgrs on Team page */
.bigerror		{	padding:30px; color: #fff; background-color: #900; text-align:center; font-weight:bold; }

.highlighted, .highlighted a, a:visited.highlighted, a:visited.highlighted, a:link.hover	{ color: #ff6; }

.error a         {	color: #ff0; }
.error a:link    {	color: #ff0; }
.error a:visited {	color: #ff0; }
.error a:hover   {	color: #cc3; }

.cmteam1	{	background-color: #f99; } /*f99*/
.cmteam2	{	background-color: #bbf; }

.pointer, .pointer button, .pointer input { cursor: pointer; cursor: hand; }

blockquote.quote {	color: #999; background-color: #fff;
	border-left: 1px solid #999;
	margin: 0px; padding: 5px;
}

/*********************************************** FLEX GRID ************************************************/

.columns {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}
.columns > * {
  flex: 1;
}
.columns *, .columns *::before, .columns *::after {
  box-sizing: inherit;
}

/*************************************************** TABLES ***************************************************/

table		{	cellpadding: 0;    /* Add a margin:0 auto to center all tables */
	border-spacing: 0;
	border-collapse:collapse;
}
table.dashboard,
div.dashboard {
  border:2px solid #069;
}
div.dashboard {
  padding: 3px 2px;
  background-color: #fff;
}
div.dashboard > p:first-of-type {
  margin: -3px -2px 3px;
  padding: 3px 5px;
  color: #fff;
  background-color: #069;
}
.dashboard + hr {
  margin: 0;
  border: 0;
  height: 0;
  border-bottom: 2px solid #fff;
}
table.halloween {       background-image:url("/view/asset/img/web.jpg");
	background-repeat:no-repeat;
}

input.alt1, tr.alt1 td	{	background-color:#eff; } /* $rowColor */
input.alt2, tr.alt2 td	{	background-color:#dee; } /* $rowColor */
input.alt3, tr.alt3 td	{	background-color:#bcc; } /* $rowColor */
input.drk1, tr.drk1 td	{	background-color:#cdd; } /* $rowColor */
input.drk2, tr.drk2 td	{	background-color:#acc; } /* $rowColor */

.hlpos, tr.alt1 td.hlpos, tr.drk1 td.hlpos, tr.drk2 td.hlpos	{   background-color: #9d6; }
.hlneg, tr.alt1 td.hlneg, tr.drk1 td.hlneg, tr.drk2 td.hlneg	{   background-color: #f99; }
.hlblu, tr.alt1 td.hlblu, tr.drk1 td.hlblu, tr.drk2 td.hlblu	{	background-color: #9df; }
.hlyel, tr.alt1 td.hlyel, tr.drk1 td.hlyel, tr.drk2 td.hlyel    {	background-color: #ff9; }
.hlgry, tr.alt1 td.hlgry, tr.drk1 td.hlgry, tr.drk2 td.hlgry	{	background-color: #ccc; }

tr.alt2 td.hlpos		{   background-color: #8c5; }
tr.alt2 td.hlneg		{   background-color: #f88; }
tr.alt2 td.hlblu		{	background-color: #8cf; }
tr.alt2 td.hlyel		{	background-color: #ee5; }

tr.alt3 td.hlblu		{	background-color: #6bf; }

.white1, tr.white1 td	{	background-color:#fff; }
.white2, tr.white2 td	{	background-color:#fff; border-bottom:2px solid #069; }
tr.page th	{	text-align:left; padding-left:20px; }

th {			margin:0; padding: 5px 0; white-space:nowrap;
	text-align:left;
}
td {			vertical-align:top; padding:0;
	text-align:left;
}
tr.displaynone	      { display:none; }

table.report {
}
table.report td { 		vertical-align:middle; padding:0px 10px;
}
table.report th {	 	vertical-align:middle; padding:3px 10px;
	font-weight:normal;
	background-color:#ccc;
}
table.report tr.head    {	border-bottom:1px solid #000; }
table.report tr.foot    {	border-top:1px solid #000; }
table.report tr.sup  td {	padding: 20px 10px 5px 0px;
	font-weight:bold;
	font-size:1.4em;
}

/* ==================================================================================================== */
/* === DATA === */
/* ==================================================================================================== */

table.data            { table-layout:fixed;
	width:100%;
	background-color:#fff;
}
table.data td         { vertical-align:middle; padding:0 2px; height:20px;
	/* white-space:nowrap; */
	border-bottom:1px solid #cce;
}

table.data tr.rowline:not(:first-of-type) td {
	border-top: 3px solid #069;
}

table.borderless td{
	border: none;
}

table.data th         { vertical-align:middle; padding:3px 2px;
	font-weight:normal;
	background-color:#069;
	color:#fff;
	white-space:nowrap;
}
table.data tr.sub td	{ font-weight:bold; padding-top:2px; padding-bottom:2px; border-top:2px solid #069; border-bottom:2px solid #069; }
table.data tr.bt	{ border-top:2px solid #fff; }
table.data tr.bb td	{ border-bottom:6px solid #069; }
table.data td.br	{ border-right:3px solid #9cc; }
table.data th.br	{ border-right:3px solid #069; }
table.data td.bl	{ border-left:3px solid #9cc; }
table.data th.bl	{ border-left:3px solid #069; }

table.data td.l, table.data th.l {	text-align:left;   padding-left:5px;  }
table.data td.r, table.data th.r {	text-align:right;  padding-right:5px; }
table.data td.c, table.data th.c {	text-align:center; padding-left:5px; padding-right:5px; }
table.data td.t, table.data th.t {	vertical-align:top; }
table.data td.b, table.data th.b {	vertical-align:bottom; }

table.data th a, table.data th a:link, table.data th a:visited, table.data th a:hover {	color:#fff; }

table.data th.hl     				{	color:#ff6; }
table.data tr.pri td				{	border-top:1px solid #cce;}
table.data tr.ext td				{	padding: 5px 2px; }
table.data tr.ext td table td 			{	padding: 0 0 0 5px; height:auto; }
table.data tr.highlight td			{	background-color:#ff6; }

table.data tr th.hlpos		{       background-color: #0c6; }
table.data tr th.hlneg		{       background-color: #c06; }

table.data tr.padded td		{	padding:5px; }
table.data tr.padT td		{	padding-top:10px; }
table.data tr.padB td		{	padding-bottom:10px; }
table.data tr.whitespace td	{	height:5px; }

/*
 * data-alt1: alt row color (odd & even)
 * data-alt2: alt every other row (1 & 3), while leaving 2 & 4 white
 * data-alt3: alt every 2 rows (1,2 & 3,4)
 */

table.data.data-alt1 > tbody > tr:nth-child(odd),
table.data.data-alt2 > tbody > tr:nth-child(4n-3),
table.data.data-alt3 > tbody > tr:nth-child(4n-2),
table.data.data-alt3 > tbody > tr:nth-child(4n-3) {
	background-color: #eff;
}
table.data.data-alt1 > tbody > tr:nth-child(even),
table.data.data-alt2 > tbody > tr:nth-child(4n-1),
table.data.data-alt3 > tbody > tr:nth-child(4n),
table.data.data-alt3 > tbody > tr:nth-child(4n-1) {
	background-color: #dee;
}
table.data.data-alt2 > tbody > tr:nth-child(4n-2),
table.data.data-alt2 > tbody > tr:nth-child(4n) {
	background-color: #fff;
}
table.data.data-alt1,
table.data.data-alt2,
table.data.data-alt3 {
	border-bottom: 4px solid #069;
}
table.data.data-alt4 > tr {
	background-color: #fff;
}
table.data.data-alt4 th,
table.data.data-alt4 td {
	text-align: center;
}
table.data.data-alt4 td {
	padding: 6px 0;
}
table.data.data-alt4 tr:last-of-type td {
	border-bottom: 0;
}
table.data.data-alt1 > tbody > tr.hlgry:nth-child(odd) {
	background-color: #ddd;
}
table.data.data-alt1 > tbody > tr.hlgry:nth-child(even) {
	background-color: #ccc;
}

/* ==================================================================================================== */
/* === INFO === */
/* ==================================================================================================== */

table.info 			{	}
table.info tr td		{	vertical-align: middle;
	padding: 0  1px 0  0;		/* Changed T/B from 1px to 0 12/21/16 */
	height:19px;			/* 19px makes the row height of a text row match the height of an input field */
	border:0;
}

table.info tr td.l		{	white-space:nowrap; }  /* Info and form tables are not allowed to wrap -- without this the left column labels end up wrapping */


/* table.info td textarea	{	white-space: normal; }		Removed 170315 since this changed enter keys to not do a LF */

table.info tr.heading th	{	padding: 8px 3px 8px 3px; }
table.info tr.heading td	{	padding: 8px 3px 8px 3px; }
table.info tr.content td	{	padding: 0   3px 0   3px; }
table.info tr.caption td	{	padding: 0   3px 6px 3px; font-size:10px; color:#999; }
table.info tr.warning td	{	padding: 0   3px 4px 3px; color: #c00; }

table.info label		{	white-space: nowrap; }

table.info2			{	table-layout:fixed; }
table.info2 tr td.l		{	width:120px; }
table.info2 tr td.r		{	width:200px; }

table.info3			{	table-layout:fixed; }
table.info3 tr td.l		{	width: 84px; }
table.info3 tr td.r		{	width:200px; }

table.info4			{	table-layout:fixed; }
table.info4 tr td.l		{	width: 70px; }
table.info4 tr td.r		{	width: 150px; }

table.info5			{	table-layout:fixed; }
table.info5 tr td.l		{	width: 40px; }
table.info5 tr td.r		{	width: 120px; }

/* ==================================================================================================== */
/* === TEAM === */
/* ==================================================================================================== */

table.team			{	table-layout: auto;
	width:275px;
	background-color:#fff;
	border:2px inset #069;
	margin-bottom:12px;
}

table.team tr.title		{	border:2px inset #069; }
table.team tr.title td		{	padding:5px 5px 5px 5px;
	height: auto;
	background-color:#cd9;
	font-weight:bold; }

table.team tr.heading		{	border:2px inset #069; }
table.team tr.heading td	{	padding:2px 5px 2px 5px;
	background-color:#efd; }

table.team tr.content td	{	border: 0;
	height: auto;
	padding:2px 0 2px 5px; }

table.team tr.content td div {
	max-width:266px; /*266 is the table width of 275px above, minus the border and padding to the table border and cell padding*/
	overflow-x: auto; }
table.team tr.content td.tel	{	text-align:right;
	padding-right:5px;
	white-space:nowrap;
}

table.schedule			{	width:1160px; font-size:10px;}
table.schedule td		{	vertical-align:middle; }
table.schedule th		{	padding-top:4px; padding-bottom:4px; background-color:#069; color:#fff; font-weight:normal; }
table.schedule th a, table.schedule th a:link, table.schedule th a:visited, table.schedule th a:hover    { color:#ccf; }
table.schedule tr.shift1 td	{	padding-top:1px; padding-bottom:1px; background-color:#ff9; }
table.schedule tr.shift2 td	{	padding-top:1px; padding-bottom:1px; background-color:#ff9; }
table.schedule tr.shift3 td	{	padding-top:1px; padding-bottom:1px; background-color:#ff9; }
table.schedule tr.shift4 td	{	padding-top:1px; padding-bottom:1px; background-color:#ff9; }
table.schedule tr.shift7 td	{	padding-top:3px; padding-bottom:3px; background-color:#666; color:#fff; }
table.schedule tr.shift8 td	{	padding-top:1px; padding-bottom:1px; background-color:#9f9; }
table.schedule tr.shift9 td	{	padding-top:1px; padding-bottom:1px; background-color:#9f9; }
table.schedule tr.shift10 td	{	padding-top:3px; padding-bottom:3px; background-color:#666; color:#fff;}
table.schedule tr.gray td	{	padding-top:1px; padding-bottom:1px; background-color:#666; color:#fff; }
table.schedule tr td.today	{	background-color:#ff3; }
table.schedule tr.shift7 td.today  {	background-color:#999; }
table.schedule tr.shift8 td.today  {	background-color:#ef9; }
table.schedule tr.shift9 td.today  {	background-color:#ef9; }
table.schedule tr.shift10 td.today {	background-color:#999; }
table.schedule td.shift		{	padding-left:0px; padding-right:2px; text-align:right; }
table.schedule td.weekday	{	width:185px; padding-left:1px; padding-right:1px; }
table.schedule td.weekend	{	width:93px;  padding-left:1px; padding-right:1px; }

table.schedule select::-ms-expand { display:none; }
table.schedule input		  { width:38px; }
table.schedule input[disabled]	  { }
table.schedule select		  { width:46px;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	appearance:none;
}

td.highlight {	background-color:#ff6; }

tr.error td  {	color:#f00;padding-top:0; }

td.c, th.c   {	text-align:center; }


/* ==================================================================================================== */
/* === RESOURCES === */
/* ==================================================================================================== */

table.resources {
	border-bottom: 4px solid #069;
	width: 1020px;
}

table.resources thead th,
table.resources tbody td {
	padding: 8px 4px;
	height: auto;
}

thead th{
	position: sticky;
	top: 0;
}

tfoot th{
	position: sticky;
	bottom: 0;
}

table.resources tbody tr:nth-child(odd) td {
	border-left: 1px solid #ddeeee;
}

table.resources tbody tr:nth-child(even) td {
	border-left: 1px solid #f8f8f8;
}

table.resources tbody tr:nth-child(odd) td table tbody tr td,
table.resources tbody tr:nth-child(even) td table tbody tr td {
	border: 0;
}

table.resources tbody tr td:first-of-type {
	border-left: 0
}

table.resources tbody td .tooltip {
	display: inline-block;
	border-bottom: 0;
}

table.resources tbody td div.tooltip .tooltiptext {
	border: 1px solid #fff;
	bottom: 20px;
	left: 100px;
	width: auto;
}

/*************************************************** POPUPS ***************************************************/

.modal			{	display:none;
	position:fixed;
	z-index:10;
	left:0; top:0; width:100%; height:100%; /* Cover the entire window */
	background-color:rgba(0,0,0,0.5); /* Dim the main page with 0.5 black overlay */
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow: -moz-scrollbars-none;
}
.modal .fixed		{	width:600px;
	min-height:50px;
	margin:60px auto;
	background-color:#069;
	box-shadow: 0 0 30px rgba(0,0,0,0.8);
}
.modal .head		{	background-color:#069;
	color:#fff;
}
.modal .body		{	background-color:#bc8;
}
.modal .content		{	padding:5px 10px;
}
.modal .message,
.modal .error,
.modal .alert		{	display: block;
}
.modal .message p,
.modal .error p,
.modal .alert p	    	{	padding:8px 10px;
	text-align: left;
}

[data-modal]		{	display: none; }

.tooltip		{	position:relative;
	display:inline-block;
	border-bottom:1px dotted black;
    cursor: pointer;
}
.tooltip .tooltiptext	{	visibility:hidden;
	background-color:#069;
	color:#fff;
	text-align:left;
	padding:5px;
	border-radius:6px;
	position:absolute;
	z-index:1;
	bottom:12px; left:-50px;
	opacity:0;
	transition: opacity 0.5s;
}
.tooltip.tooltip2 .tooltiptext	{
	top: 30px; bottom:auto; left: -70px;
}
.tooltip.tooltip3,
.tooltip.tooltip4,
.tooltip.tooltip6 {
	border-bottom: 0;
}
.tooltip.tooltip3 .tooltiptext	{
	top: 0; bottom: auto; left: 101%;
	width: 400px;
	border: 1px solid #fff;
}
.tooltip.tooltip4 .tooltiptext	{
	top: -15px; bottom: auto; left: 101%;
	width: 250px;
	border: 1px solid #fff;
	text-align: center;
}
.tooltip.tooltip5 .tooltiptext	{
	top: -25px; bottom: auto; left: 50%;
	width: 210px;
	border: 1px solid #fff;
	text-align: center;
}
.tooltip.tooltip6 .tooltiptext	{
	color:#000;
	background-color:#fff;
	top: auto; bottom: 125%; left: -45px;
	width: 150px;
	border: 1px solid #fff;
	text-align: center;
}
.tooltip.tooltip7 .tooltiptext	{
	top: auto; bottom: 125%; left: -75px;
	width: 150px;
	border: 1px solid #fff;
	text-align: center;
}
.tooltip:hover .tooltiptext {	visibility:visible;
	opacity:1;
}

/*************************************************** TABS ***************************************************/

.tabs_fixed	{	width:100%;
	background-color:#069;
	height:22px;
}
#tabs ul	{	margin:0; padding-top:4px;
	white-space:nowrap;
	float:left;
}
#tabs li	{	list-style-type:none;
	display:inline;
	position:relative; /* For absolute positioning of submenus */
}
#tabs li a	{	text-decoration:none;
	padding:4px 8px 4px 8px;
	background-color:#069;
	color:#fff;
}
#tabs li#current a {	background-color:#bc8;
	color:#210;
}

/*************************************************** CATCH-ALL ***************************************************/

textarea	{	white-space: -moz-pre-wrap; /* Firefox */
	white-space: -moz-pre-wrap;     /* ancient Opera */
	white-space: -o-pre-wrap;   /* newer Opera */
	white-space: pre-wrap;      /* Chrome; W3C standard */
	word-wrap: break-word;      /* IE */
} /* Prevent white-space:nowrap at the table level from not allowing textareas to wrap text in Edge */

/* CSS to hide and show session info */
#see-session {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	display: inline-block;
	padding: 0.125rem;
	width: auto;
	max-width: 100%;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
	background-color: rgba(255,255,255,0.25);
}
#hide-session {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all 0.25s;
}
#hide-session.see-session {
	opacity: 1;
	height: auto;
}

/*************************************************** MENU DROPDOWN ***************************************************/

.dropdown {
	position: relative;
	cursor: pointer;
}

.dropdown span {
	pointer-events: none;
	user-select: none;
}

.dropdown span em {
	font-style: normal;
	display: inline-block;
	pointer-events: none;
	transform:rotate(-90deg);
	transition: all 0.25s;
}

.dropdown ul {
	position: absolute;
	left: -20px;
	padding: 8px 16px;
	width: 125px;
	background: #069;
	cursor: auto;
	overflow: hidden;
	transition: all 0.25s;
	height: 0;
	opacity: 0;
}

.dropdown ul li {
	padding: 2px 0;
}

.dropdown.dropdown-show ul {
	height: auto;
	opacity: 1;
}

.dropdown.dropdown-show span em {
	transform:rotate(0deg);
}

/*************************************************** SCREEN LOCK ***************************************************/

body.screen-lock {
	/*  overflow: hidden;*/
}

body #screen-lock {
	display: none;
}

body.screen-lock #screen-lock {
	display: block;
}

#screen-lock {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000000;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.25);
}

/*************************************************** NOTE BOX ***************************************************/

.notebox {
	display: grid;
	grid-template-columns: 32px auto;
	justify-items: center;
	align-items: center;
	margin: 2px 0;
	border: 1px solid #ccc;
	padding: 4px 4px 4px 0;
	background: rgba(0,0,0,0.1);
}

.notebox.notebox-pos {
	background: rgba(187,204,136,0.4);
}

.notebox.notebox-neg {
	background: rgba(255,170,170,0.4);
}

/*************************************************** CLEAR FIX, BOX SIZING & BASIC GRID ***************************************************/

.input-dollar-in {
	position: relative;
}
.input-dollar-in:before {
	position: absolute;
	top: 0;
	left: 2px;
	content:"$";
}

.input-percent-in {
	position: relative;
}
.input-percent-in:before {
	position: absolute;
	top: 0;
	left: 2px;
	content:"%";
}

.input-dollar-out {
	position: relative;
}
.input-dollar-out:before {
	position: absolute;
	top: 0;
	left: -10px;
	content:"$";
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.bb {
	box-sizing: border-box;
}
.bb *, .bb *::before, .bb *::after {
	box-sizing: inherit;
}
.bb img.icon16 {padding: 0;}

.grid {display: flex; flex-flow: row wrap; box-sizing: border-box;}
.grid *, .grid *::before, .grid *::after {box-sizing: inherit;}
.grid > .cell {flex: 0 0 auto; width: 100%;}
.grid > .cell.auto {flex: 1 1 0px;}
.grid > .cell.shrink {flex: 0 0 auto;}
.grid > .auto {width: auto;}
.grid > .shrink {width: auto;}
.grid > .c-1  {width: 8.33333%;}
.grid > .c-2  {width: 16.66667%;}
.grid > .c-3  {width: 25%;}
.grid > .c-4  {width: 33.33333%;}
.grid > .c-5  {width: 41.66667%;}
.grid > .c-6  {width: 50%;}
.grid > .c-7  {width: 58.33333%;}
.grid > .c-8  {width: 66.66667%;}
.grid > .c-9  {width: 75%;}
.grid > .c-10 {width: 83.33333%;}
.grid > .c-11 {width: 91.66667%;}
.grid > .c-12 {width: 100%;}
.grid > .o-1  {margin-left: 8.33333%;}
.grid > .o-2  {margin-left: 16.66667%;}
.grid > .o-3  {margin-left: 25%;}
.grid > .o-4  {margin-left: 33.33333%;}
.grid > .o-5  {margin-left: 41.66667%;}
.grid > .o-6  {margin-left: 50%;}
.grid > .o-7  {margin-left: 58.33333%;}
.grid > .o-8  {margin-left: 66.66667%;}
.grid > .o-9  {margin-left: 75%;}
.grid > .o-10 {margin-left: 83.33333%;}
.grid > .o-11 {margin-left: 91.66667%;}
.align-top     {align-items: flex-start;}
.align-middle  {align-items: center;}
.align-bottom  {align-items: flex-end;}
.align-stretch {align-items: stretch;}
.align-left    {justify-content: flex-start;}
.align-center  {justify-content: center;}
.align-right   {justify-content: flex-end;}
.align-justify {justify-content: space-between;}
.align-spaced  {justify-content: space-around;}

/*************************************************** MULTI SELECT ***************************************************/

multi-select{
	align-items: center;
	background-color: white;
	border: 1px solid #767676;
	display: block;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	height: 21px;
	line-height: 19px;
	box-sizing: border-box;
	user-select: none;
	translate: border-color 200ms linear;
}

multi-select:hover{
	border-color: black;
}

.multi-select-expander{
	display: block;
	background-color: white;
	border: 1px solid #767676;
	position: absolute;
	box-sizing: border-box;
	user-select: none;
	z-index: 1;
	text-align: left;
	padding: 0 4px;
}

.table-input td .multi-select-expander input{
	width: auto !important;
}

#jifCommLog form{
	padding-bottom: 10px;
	text-align: center;
}

#jifCommLog textarea, #modal-commlog-tmp textarea{
	width: 95%;
	height: 80px;
	margin: 0 20px;
	resize: none;
	background-color: #ffc;
	padding: 5px;
}

#jifCommLog input, #modal-commlog-tmp input{
	margin-top: 10px;
	margin-left: 0;
	margin-right: 0;
}

#jifCommLog .com-filterbar{
	vertical-align: middle;
	text-align: center;
	font-weight: normal;
	white-space: nowrap;
	color: black;
	padding: 5px;
	background-color: white;
	position: sticky;
	top: 0;
	border-bottom: 4px solid #069;
}

#jifCommLog .com-filterbar input{
	margin: auto;
}

#jifCommLog .com-header{
	padding: 3px 5px;
	vertical-align: middle;
	font-weight: normal;
	background-color: #069;
	color: white;
	white-space: nowrap;
}

#jifCommLog .com-header span{
	margin: 0 3px;
}

#jifCommLog .com-body{
	padding: 10px;
}

#jifCommLog .com-item{
	border-bottom: 1px solid #069;
}

#jifCommLog p.note-flag{
  position: absolute;
  top: 0; 
  left: auto; 
  right: 0; 
  border-left: 1px solid #069; 
  border-bottom: 1px solid #069; 
  padding: 4px 8px; 
  background-color: #fff;
}

/* Block header style ripped from the jif */
.jif-block-header{
	box-sizing: border-box;
	padding: 4px 2px 4px 5px;
	background-color: #069;
	color: #fff;
}

/* Hides the up/down arrows on an input field*/
.hide-ticker::-webkit-outer-spin-button,
.hide-ticker::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
.hide-ticker{
	-moz-appearance: textfield;
}

/*Sideways scrolling box that displays partners*/
.partner-selector{
	overflow-x: auto;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 8px;
	text-align: left;
	width: 100%;
}

.partner-box{
	display: inline-block;
	border: 1px solid black;
	background-color: white;
	min-width: 25%;
	margin: 0 2px;
	box-sizing: border-box;
	vertical-align: top;
}

.partner-box > h1{
	background-color: #069;
	color: white;
	vertical-align: top;
	font-size: 12px;
	font-weight: normal;
	padding: 4px;
}

.partner-box > h1 > input[type='radio']{
	float: left;
	margin: 1px 4px 1px 0px;
	padding: 0;
}

.partner-box > div{
	padding: 6px;
}

.partner-box > div > p,
.partner-box > div > a{
	height: 15px;
	line-height: 15px;
	padding: 0;
	margin: 0;
}

.box-selected{
	box-shadow: 0 0 5px 2px #069;
}

.box-error{
	box-shadow: 0 0 5px 2px #800000;
}

/**
 Grid split 50%/50%
 */
.split-grid{
	display: grid;
	grid-template-columns: 50% 50%;
}

.split-grid > div{
	padding: 8px;
	box-sizing: border-box;
}

.input-grid{
	display: grid;
	grid-template-columns: 25% auto;
	margin-left: 6%;
}

.crew-selector{
	width: fit-content;
	display: inline-block;
	margin: auto 24px;
}

.crew-selector > div:first-child{
	display: flex;
}

.crew-selector > div:first-child > div{
	padding: 2px;
	margin: auto 0px;
}

.crew-selector > div:nth-of-type(2){
	margin-top: 8px;
	text-align: center;
	font-size: 0;
}

.crew-selector > div:nth-of-type(2) > input{
	font-size: 12px;
}

/*************************************************** EQS Schedule ***************************************************/

#eqsSchedule li {
  border-bottom: 1px solid #ddd;
}

#eqsSchedule li:last-of-type {
  border: none;
}

#eqsSchedule li > div {
  border-right: 1px solid #ddd;
  padding: 2px 0;
  text-align: center;
}

#eqsSchedule li > div:first-of-type span {
  display: inline-block;
  width: 38px;
}

#eqsSchedule li > div:last-of-type {
  border: none;
}

/*************************************************** Job Verify ***************************************************/

.jobVerify {
  position: relative;
  margin: 0 2px 0;
  border: 1px solid #777;
  border-radius: 16px;
  display: none;
  width: 16px;
  height: 16px;
  max-height: 16px;
  max-width: 16px;
  text-align: center;
  color: #ff9999;
  background-color: #f99;
  user-select: none;
}
.jobVerify[data-edit="1"] {
  cursor: pointer;
}
input + .jobVerify,
input + .jobVerify + .jobVerify {
  top: 3px;
}
.jobVerify.jobVerified,
.jobVerify.jobUnverified {
  border-color: #000;
  color: #000;
  background-color: #6f9;
}
.jobVerify.jobUnverified {
  background-color: #f99;
}
.jobVerify.jobUnverified[data-level="1"] {
  background-color: #ffc966;
}
.jobVerify.jobVerified:hover,
.jobVerify.jobUnverified:hover {
  border-top-right-radius: 0;
}
.jobVerify.jobVerified:before {
  position: absolute;
  top: -3px;
  left: 1.5px;
  content: "\02713";
  font-size: 18px;
  line-height: 0.8;
}
.jobVerify.jobVerified > em,
.jobVerify.jobUnverified > em {
  position: absolute;
  bottom: 15px;
  left: 16px;
  z-index: 5;
  border: 1px solid #000;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  padding: 5px;
  width: 200px;
  color: #000;
  background-color: #6f9;
  font-style: normal;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.jobVerify.jobUnverified > em {
  background-color: #f99;
}
.jobVerify.jobUnverified[data-level="1"] > em {
  background-color: #ffc966;
}
.jobVerify.jobVerified:hover > em,
.jobVerify.jobUnverified:hover > em {
  visibility: visible;
  opacity: 1;
}