  <td name="recommend"></td>
  <td><input type="checkbox" name="post-job-check"></td>
  <td>
    <input type="hidden" name="post-job-id" />
    <input type="hidden" name="jpj-id" />
    <textarea name="post-job-note" style='width:99%'></textarea></td>
  <td><button name="post-job-save" class="inp05">Save</button></td>